body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;
}

nav {
    background: #444;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    background: #ddd;
    padding: 20px;
    width: 20%;
}

.login {
    background: #eee;
    padding: 10px;
}

.info {
    background: #eee;
    padding: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer img {
    width: 30px;
    height: 30px;
}